body{
	margin: 0.5ch;
	margin-top: 0;
	margin-bottom: 0;
	background-color: rgb(239, 232, 205);
}


header{
	padding-left: 3ch;
	padding-right: 3ch;
	padding-top: 1px;
	padding-bottom: 1px;
	background-color:rgb(235, 217, 88);
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	margin-bottom: 3ch;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
header p{
	text-align: right;
}
header h1{
	text-align: center;
}
header h1 a {
	font-family: serif;
  	text-decoration: none;
	color: rgb(58, 34, 2);
}
header h1 a:hover{
	color: brown;
}
header p a{
	text-decoration: none;
	color: rgb(58, 34, 2);
	border: 1px dashed rgb(58, 34, 2);
	border-radius: 6px;
	padding: 1px 6px;
	
}
header p a:hover{
	background-color: rgb(238, 172, 0);
	color: brown;
}

.main-nav{
	text-align: center;
	padding: 12px;
	margin: 3px;
	border-radius: 4px;
	background-color: bisque;
	color: rgb(62, 62, 62);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.main-nav a{
	padding: 20px;
	text-decoration: none;
	color: brown;
}
.main-nav a:hover{
	color: black;
}
.category-nav{
	text-align: center;
	padding: 12px;
	margin: 3px;
	border-radius: 4px;
	background-color: bisque;
	text-decoration: none;
	color: rgb(62, 62, 62);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	margin-bottom: 3ch;
}
.category-nav a{
	padding: 20px;
	text-decoration: none;
	color: brown;
}

.category-nav a:hover{
	color: black;
}

.newtask-button{
	background-color:coral;
	margin-bottom: 3px;
	text-align: left;
}

.newtask-button:hover{
	background-color: rgb(255, 100, 26);
}

table{
	width: 100%;
	border-radius: 12px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

th{
	padding: 12px;
	color: beige;
	background-color: rgb(209, 209, 3);
	border-bottom: 1px solid rgb(51, 51, 51);
	border-radius: 4px;
}
td{
	padding: 6px;
	background-color: rgb(255, 245, 230);
	color: rgb(0, 0, 0);
	border-bottom: 1px dashed rgb(51, 51, 51);
	text-align: center;
	border-radius: 4px;
}
button{
	color: rgb(73, 73, 73);
	background-color: rgb(249, 252, 194);
	border: none;
	border-radius: 4px;
	cursor: pointer;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
}
button:hover{
	background-color: rgb(247, 251, 157);
	transform: scale3d();
}


footer{
	margin-top: 3ch;
	margin-bottom: 0;
	padding: 10px;
	text-align: center;
	background-color:rgb(235, 217, 88);
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/*フッターのお問い合わせなどのリンク*/
footer a{
	text-decoration: none;
	color: rgb(73, 73, 73);
}

footer a:hover{
	text-decoration: underline;
	color: blue;
}
form{
	text-align: center;
}
input[type="text"]{
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	border: none;
	border-radius: 8px;
	background-color: beige;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 5px;
}
select{
	border-radius: 8px;
	background-color: beige;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 5px;
}
input[type="date"]{
	border-radius: 8px;
	background-color: beige;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 5px;
}
textarea{
	border-radius: 8px;
	background-color: beige;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 5px;
}

input[type="checkbox"] {
	transform: scale(1.5);
	text-align: center;
}


.memo-cell {
	color: dimgrey;
	max-width: 7ch;          
  	white-space: nowrap;   
  	overflow: hidden;         
  	text-overflow: ellipsis;
}

.past{
	color: darkgray;
}
.today{
	color: rgb(255, 89, 89);
}
.tomorrow{
	color: rgb(255, 174, 136);
}
.threedays{
	color: rgb(128, 255, 128);
}
.someday{
	color: black;
}