<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
<meta charset="UTF-8">
<title>ToDoリスト</title>
<link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
	<header th:replace="header"></header>

	<main>
		<nav class="main-nav">
			<a href="/tasks">タスク一覧</a>
			<a href="/tasks/completed">完了済み一覧</a>
			<a href="/tasks?dateAsc">期限を古い順に</a>
		</nav>
		
		<nav class="category-nav">
			<a th:each="category : ${categories}"
				th:href="@{/tasks(categoryId=${category.id})}"
				th:text="${category.name}">
			</a>
		</nav>
		<form action="/tasks/add" method="get">
			<button class="newtask-button">NEWタスク</button>
		</form>
		<table>
			<tr>
				<th>完了</th>
				<th>タイトル</th>
				<th>メモ</th>
				<th>カテゴリー</th>
				<th>期限</th>
				<th>編集</th>
				<th>削除</th>
			</tr>
			<tr th:each="task : ${tasks}">
				<td>
					<form th:action="@{/tasks/{id}/complete(id=${task.id})}" method="post">
						<button>✔️</button>
					</form>
				</td>
				<td th:text="${task.title}"></td>
				<td class="memo-cell" th:text="${task.memo}"></td>
				<td th:text="${task.category.name}"></td>
				<td>
					<span th:class="${task.closeDate}" th:text="${task.closingDate}"></span>
				</td>
				<td>
					<form th:action="@{/tasks/{taskId}/edit(taskId=${task.id})}" method="get">
						<button>✂️</button>
					</form>
				</td>
				<td>
					<button th:attr="popovertarget=${task.id}">🗑️</button>
					<div popover th:id="${task.id}">
						<p>本当に削除しますか？</p>
						<form th:action="@{/tasks/{taskId}/delete(taskId=${task.id})}" method="post">
							<button popovertarget="">🗑️</button>
						</form>
					</div>
				</td>
			</tr>
		</table>
	</main>

	<footer th:replace="footer"></footer>
</body>
</html>